.challenge {
	border: 1px solid var(--border-clr);
	border-radius: 0.5em;
	overflow: hidden;
	width: 400px;
	/* padding: 1em; */
	display: flex;
	flex-direction: column;
}

.challenge--image {
	width: 100%;
	height: 250px;
}

.challenge--info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
}

.challenge--title {
	text-align: center;
	font-size: 1.25rem;
}

.challenge--skill {
	border: 1px solid var(--border-clr);
	border-radius: 0.5em;
	padding: 0.5em;
	font-weight: bold;
}

.challenge--links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	padding-block: 0.5em;
}

.challenge--demo,
.challenge--github {
	font-size: 2rem;
}

.challenge--demo:hover,
.challenge--github:hover {
	color: darkmagenta;
}
