header {
	text-align: center;
	padding-block: 1em;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.challenge--section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.challenge--header {
	border: 1px solid var(--border-clr);
	border-radius: 0.5em 0.5em 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2em;
}

.challenges {
	border: 1px solid var(--border-clr);
}

.challenge--stats {
	display: flex;
	align-items: center;
}

.challenge--title--level {
}

.challenge--count {
	font-weight: bold;
	font-size: 1.5rem;
}

.challenges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
	padding: 1em;
}

.icon {
	font-size: 2rem;
	color: var(--border-clr);
}
