header {
	text-align: center;
	padding-block: 1em;
}

#newbie {
	width: 100%;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.challenge--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2em;
}

.challenge--info {
	display: flex;
	align-items: center;
}

.challenge--title--level {
}

.challenge--count {
	font-weight: bold;
	font-size: 1.5rem;
}

.challenges {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
	padding: 1em;
}

.icon {
	font-size: 2rem;
}
