:root {
	--background-clr: hsl(0, 0%, 7%);
	--text--clr: hsl(0, 0%, 100%);
	--link--clr: hsl(274, 34%, 29%);
	--border-clr: hsl(274, 34%, 29%);
}

* {
	box-sizing: border-box;
}

html {
	color-scheme: light;
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */

body {
	padding: 2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: var(--link--clr);
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}

ul {
	list-style: none;
	display: flex;
	gap: 1em;
	padding: 0;
}
